.body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: rgb(245, 245, 245);
}

/* all ---------------------------------------------------------------------------------------------------------------*/

.chapter {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.chapter:before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 70px;
    height: 200%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}

.hover:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* header ---------------------------------------------------------------------------------------------------------------------------- */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    margin: 0 13px;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    opacity: 0.95;
    z-index: 0;
}

.header__body {
    display: flex;
    position: relative;
    height: 60px;
    align-items: center;
}

.header__logo {
    width: 130px;
    height: 28px;
    margin: 0 50px 0 20px;
    z-index: 3;
}

.header__burger {
    display: none;
}

.header__burger.active:before {
    transform: rotate(45deg);
    top: 8px;
}

.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
}

.header__burger.active span {
    display: none;
}

.header__menu {
}

.header__menu-list {
    display: flex;
    padding: 0;
}

.header__menu-item {
    list-style: none;
    margin: 0 0 0 40px;
}

.header__menu-link {
    color: #141414;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

.header__menu-link:hover {
    color: #1f58ff;
    transition: all 0.2s ease 0s;
}

.header__menu-link.active {
    color: #1f58ff;
}

.header__menu-item:first-child {
    margin: 0 0 0 0;
}

@media (max-width: 1240px) {
    .header.active:before {
        height: 100vh;
        background-color: rgb(0, 0, 0);
        opacity: 0.6;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 22px;
        height: 18px;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #1f58ff;
        width: 100%;
        height: 2px;
        top: 8px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
        background-color: #1f58ff;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }

    .header__menu-list {
        /* display: none; */
    }

    .header__body {
        justify-content: space-between;
    }

    .header__menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(255, 255, 255);
    }

    .header__menu.active {
        right: 0;
    }

    .header__menu-list {
        display: flex;
        flex-direction: column;
    }

    .header__menu-item {
        margin: 0;
        padding: 11px 5px 10px 20px;
        border-bottom: 1px solid rgb(0, 0, 0, 0.05);
    }

    .header__menu-item:first-child {
        margin-top: 50px;
        padding: 11px 5px 10px 20px;
        border-bottom: 1px solid rgb(0, 0, 0, 0.05);
    }
}

/* content ---------------------------------------------------------------------------------------------------------------------------- */

.content {
    margin: 200px 0 0;
}

/* introduction ---------------------------------------------------------------------------------------------------------------------------- */

.introduction {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
}

.introduction__box {
    max-width: 481px;
    margin-right: auto;
}

.introduction__title {
    font-weight: 700;
    font-size: 64px;
}

.introduction__subtitle {
    margin: 0 0 40px 0;
    font-weight: 400;
    font-size: 24px;
}

.introduction__info {
    display: flex;
}

.introduction__box-price {
}

.introduction__today {
    font-weight: 400;
    font-size: 16px;
}

.introduction__price {
    font-weight: 600;
    font-size: 36px;
    color: rgb(255, 96, 0);
}

.introduction__button {
    margin-right: 20px;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 16px;
    background-color: black;
    border-radius: 40px;
    color: white;
    text-decoration: none;
}

.introduction__image {
    max-width: 567px;
    max-height: 685px;
}

@media (max-width: 1240px) {
    .introduction__chapter {
        font-size: 12px;
    }

    .introduction__title {
        font-size: 56px;
    }

    .introduction__subtitle {
        margin: 0 0 30px 0;
        font-size: 21px;
    }

    .introduction__today {
        font-size: 14px;
    }

    .introduction__price {
        font-size: 31px;
    }

    .introduction__button {
        padding: 17px 35px;
        font-size: 14px;
    }

    .introduction__image {
        max-width: 494px;
        max-height: 596px;
    }
}

/* reviews ---------------------------------------------------------------------------------------------------------------------------- */

.reviews {
    padding: 200px 25px 200px;
    background-color: rgb(240, 240, 240);
}

.reviews__container {
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
}

.reviews__grid {
    display: grid;
    grid-template-columns: repeat(2, 244px);
    grid-template-rows: repeat(2, 287px);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    color: #1f58ff;
}

.reviews__grid-item {
    max-width: 244px;
    max-height: 287px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.reviews__grid-image {
    width: 100%;
    height: 100%;
}

.reviews__grid-icon {
    width: 48px;
    height: 41px;
    margin: 0 auto;
}

.reviews__grid-item-numper {
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
}

.reviews__grid-item-text {
    max-width: 145px;
    margin: 20px auto 0;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.reviews__box {
    max-width: 445px;
    margin-left: 50px;
    padding-top: 50px;
}

.reviews__chapter {
}

.reviews__title {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
}

.reviews__paragraph {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.reviews__button {
    margin-top: 50px;
    padding: 12px 40px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    background-color: #1f58ff;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

/* about-henry ---------------------------------------------------------------------------------------------------------------------------- */

.about-henry {
    padding: 120px 25px;
    background-size: cover 100%;
    background-position: bottom;
    background-image: url(/images/about-henry/about-henry__background.jpg);
}

.about-henry__container {
    max-width: 530px;
    margin: 0 auto 0 18%;
}

.about-henry__container span {
    color: #1f58ff;
}

.about-henry__chapter {
}

.bout-henry__title {
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
}

.bout-henry__subtitle {
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
}

.bout-henry__paragraph {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.about-henry__list {
    display: flex;
    padding: 0;
    list-style: none;
}

.about-henry__item {
    margin-right: 25px;
}

.about-henry__link {
}

.about-henry__icon {
    width: 40px;
}

/* chapter-one ---------------------------------------------------------------------------------------------------------------------------- */

.chapter-one {
    padding: 120px 25px;
    background-image: url(/images/chapter-one/chapter-one__background.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.chapter-one__grid {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 382px 1fr;
    row-gap: 70px;
    column-gap: 50px;
}

.chapter-one__grid-item {
}

.chapter-one__grid-item:first-child {
    border-bottom: 1px solid black;
}

.chapter-one__chapter {
}

.chapter-one__title {
    margin: 30px 0 70px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 600;
}

.chapter-one__subtitle {
    margin: 0;
    font-size: 34px;
    line-height: 44px;
    font-weight: 500;
}

.chapter-one__image {
    max-width: 382px;
    max-height: 407px;
}

.chapter-one__grid-text {
    margin: 0 0 30px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.chapter-one__container-price {
    margin-top: 70px;
    display: flex;
}

.chapter-one__box-price {
}

.chapter-one__price {
    font-weight: 600;
    font-size: 36px;
    color: rgb(255, 96, 0);
}

.chapter-one__today {
    font-weight: 400;
    font-size: 16px;
}

.chapter-one__button {
    width: 250px;
    height: 40px;
    margin-left: 50px;
    border: none;
    border-radius: 30px;
    background-color: #ff6000;
    color: white;
    font-weight: 600;
}

/* contents ---------------------------------------------------------------------------------------------------------------------------- */

.contents {
    background-color: white;
}

.contents__chapter:before {
    background-color: rgb(245, 245, 245);
}

.contents__chapter {
    margin-bottom: 100px;
}

.contents__box {
    width: 660px;
    margin: 0 auto;
    padding: 150px 20px;
}

.contents__item {
    display: flex;
    margin-top: 50px;
    border-bottom: 1px solid black;
}

.contents__item:last-child {
    border-bottom: none;
}

.contents__number {
    color: #1f58ff;
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
}

.contents__box-text {
    margin-left: 50px;
}

.contents__title {
    margin: 0 0 25px 0;
    font-size: 34px;
    line-height: 44px;
    font-weight: 500;
}

.contents__paragraph {
    margin: 0 0 40px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #8a8a8a;
}

/* newsletter -------------------------------------------------------------- */

.newsletter {
    padding: 130px 0;
    background-color: rgb(245, 245, 245);
    color: white;
}

.newsletter__container {
    max-width: 1080px;
    max-height: 547px;
    margin: 0 auto;
    display: flex;
}

.newsletter__box {
    max-width: 648px;
    padding: 100px 65px 85px;
    border-radius: 30px 0px 0px 30px;
    background-color: #141414;
}

.newsletter__chapter {
}

.newsletter__chapter:before {
    background-color: #1f58ff;
}

.newsletter__title {
    margin: 30px 0;
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
}

.newsletter__paragraph {
    margin: 0 0 40px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.newsletter__form {
    display: flex;
    max-width: 520px;
    height: 40px;
}

.newsletter__input {
    width: 100%;
    padding: 0 10px;
    border: 2px solid grey;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    background-color: #141414;
    color: white;
}

.newsletter__button {
    width: 172px;
    padding: 12px 40px;
    border: none;
    border-radius: 20px;
    background-color: #1f58ff;
    color: white;
}

.newsletter__button.hover:hover {
    opacity: 1;
    background-color: #507cff;
}

.newsletter__image {
    border-radius: 0px 30px 30px 0px;
    max-width: 432px;
}

/* order-book -------------------------------------------------------------- */

.order-book {
    padding: 130px 0;
    background-color: white;
}

.order-book__container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
}

.order-book__box {
    max-width: 635px;
    margin-right: auto;
}

.order-book__chapter {
    margin-top: 70px;
}

.order-book__chapter:before {
    background-color: rgb(240, 240, 240);
}

.order-book__title {
    margin: 30px 0 15px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
}

.order-book__paragraph {
    margin: 0 0 50px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.order-book__info {
    display: flex;
    align-items: center;
}

.order-book__box-price {
}

.order-book__price {
    margin: 0;
}

.order-book__today {
}

.order-book__today {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.order-book__price {
    font-weight: 600;
    font-size: 36px;
    color: rgb(255, 96, 0);
}

.order-book__button {
    width: 150px;
    height: 40px;
    margin-left: 60px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: rgb(255, 96, 0);
}

.order-book__image {
    max-width: 423px;
    max-height: 512px;
}

/* cover -------------------------------------------------------------- */

.cover {
    padding: 140px 0 100px;
    background-image: url(/images/cover/cover__image.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cover__overlay {
}

.cover__title {
    max-width: 930px;
    margin: 0 auto 100px;
    font-size: 48px;
    line-height: 52px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.cover__list {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.cover__item {
    width: 115px;
    height: 100px;
    display: flex;
    align-items: center;
}

.cover__link {
    margin: 0 auto;
}

.cover__image {
    width: 97px;
    height: 85px;
    transition: all 0.3s ease 0s;
}

.cover__image:hover {
    width: 111.55px;
    height: 97.75px;
    transition: all 0.3s ease 0s;
}

/* footer -------------------------------------------------------------- */

.footer {
    padding: 70px 25px 30px;
    background-color: #141414;
    color: white;
}

.footer__nav {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__list {
    padding: 0;
    list-style: none;
}

.footer__item {
}

.footer__logo {
    width: 149px;
    height: 29px;
    margin: 0 0 40px 0;
}

.footer__title {
    margin: 0 0 35px 0;
}

.footer__link {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
    color: #a7a7a7;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
    color: #cacaca;
}

.footer__image {
    width: 25px;
    height: 25px;
}

.footer__copyright {
    max-width: 1080px;
    margin: 80px auto 0;
    color: #a7a7a7;
}

.footer__copyright a {
    text-decoration: none;
    color: #a7a7a7;
}

.footer__copyright a:hover {
    text-decoration: underline;
    color: #a7a7a7;
}

@media (max-width: 1024px) {
    .footer {
        padding: 70px 25px 30px;
        background-color: #141414;
        color: white;
    }

    .footer__nav {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .footer__list {
        margin: 0 0 80px 0;
    }

    .footer__title {
        font-size: 13px;
        line-height: 20px;
    }

    .footer__copyright {
        text-align: center;
    }
}
