.body {
}

/* header -------------------------------------------------------------- */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    margin: 0 13px;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.95;
    z-index: 0;
}

.header__body {
    display: flex;
    position: relative;
    height: 60px;
    align-items: center;
}

.header__logo {
    width: 130px;
    height: 28px;
    margin: 0 50px 0 20px;
    z-index: 3;
}

.header__burger {
    display: none;
}

.header__burger.active:before {
    transform: rotate(45deg);
    top: 8px;
}

.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
}

.header__burger.active span {
    display: none;
}

.header__menu {
}

.header__menu-list {
    display: flex;
    padding: 0;
}

.header__menu-item {
    list-style: none;
    margin: 0 0 0 40px;
}

.header__menu-item:first-child {
    margin: 0 0 0 0;
}

@media (max-width: 1240px) {
    .header.active:before {
        height: 100vh;
        background-color: rgb(0, 0, 0);
        opacity: 0.2;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 22px;
        height: 18px;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #1f58ff;
        width: 100%;
        height: 2px;
        top: 8px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
        background-color: #1f58ff;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }

    .header__menu-list {
        /* display: none; */
    }

    .header__body {
        justify-content: space-between;
    }

    .header__menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        transition: all 0.3s ease 0s;
        background-color: rgb(255, 255, 255);
    }

    .header__menu.active {
        right: 0;
    }

    .header__menu-list {
        display: flex;
        flex-direction: column;
    }

    .header__menu-item {
        margin: 0;
        padding: 11px 5px 10px 20px;
        border-bottom: 1px solid rgb(0, 0, 0, 0.05);
    }

    .header__menu-item:first-child {
        margin-top: 50px;
        padding: 11px 5px 10px 20px;
        border-bottom: 1px solid rgb(0, 0, 0, 0.05);
    }
}

/* content -------------------------------------------------------------- */

.content {
    margin-top: 100px;
}

/* introduction -------------------------------------------------------------- */

.introduction {
}

.introduction__box {
}

.introduction__chapter {
}

.introduction__title {
}

.introduction__subtitle {
}

.introduction__info {
}

.introduction__box-price {
}

.introduction__today {
}

.introduction__price {
}

.introduction__button {
}

.introduction__image {
}

/* reviews -------------------------------------------------------------- */

.reviews {
}

.reviews__grid {
}

.reviews__grid-item {
}

.reviews__grid-image {
}

.reviews__grid-item-numper {
}

.reviews__grid-item-text {
}

.reviews__grid-item-image {
}

.reviews__container {
}

.reviews__chapter {
}

.reviews__title {
}

.reviews__paragraph {
}

/* about-henry -------------------------------------------------------------- */

.about-henry {
}

.about-henry__chapter {
}

.bout-henry__title {
}

.bout-henry__subtitle {
}

.bout-henry__paragraph {
}

.about-henry__list {
}

.about-henry__item {
}

.about-henry__link {
}

.about-henry__icon {
}

/* chapter-one -------------------------------------------------------------- */

.chapter-one {
}

.chapter-one__grid {
}

.chapter-one__grid-item {
}

.chapter-one__chapter {
}

.chapter-one__title {
}

.chapter-one__subtitle {
}

.chapter-one__image {
}

.chapter-one__box-price {
}

.chapter-one__price {
}

.chapter-one__today {
}

.chapter-one__button {
}

/* contents -------------------------------------------------------------- */

.contents {
}

.contents__chapter {
}

.contents__box {
}

.contents__item {
}

.contents__number {
}

.contents__box-text {
}

.contents__title {
}

.contents__paragraph {
}

/* newsletter -------------------------------------------------------------- */

.newsletter {
}

.newsletter__box {
}

.newsletter__chapter {
}

.newsletter__title {
}

.newsletter__paragraph {
}

.newsletter__form {
}

.newsletter__button {
}

.newsletter__image {
}

/* order-book -------------------------------------------------------------- */

.order-book {
}

.order-book__box {
}

.order-book__chapter {
}

.order-book__title {
}

.order-book__paragraph {
}

.order-book__info {
}

.order-book__box-price {
}

.order-book__price {
}

.order-book__today {
}

.order-book__button {
}

.order-book__image {
}

/* cover -------------------------------------------------------------- */

.cover {
}

.cover__overlay {
}

.cover__title {
}

.cover__list {
}

.cover__item {
}

.cover__image {
}

/* footer -------------------------------------------------------------- */

.footer {
}

.footer__nav {
}

.footer__list {
}

.footer__item {
}

.footer__title {
}

.footer__link {
}

.footer__image {
}

.footer__copyright {
}
