.introduction {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
}

@media (max-width: 1024px) {
    .introduction {
        max-width: 555px;
        margin: 0 auto;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
    }
}
