.introduction__today {
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .introduction__today {
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
    }
}
