.footer {
    padding: 70px 25px 30px;
    background-color: #141414;
    color: white;
}

@media (max-width: 1024px) {
    .footer {
        padding: 70px 20px 30px;
        background-color: #141414;
        color: white;
    }
}
